* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica neue, Helvetica, noto sans, sans-serif, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #949494;
  background-color: #fff;
}

.navbar {
  background-color: #333;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar #right {
  display: flex;
  align-items: end;
  justify-content: end;
  color: white;
}

h2 {
  margin-top: 17px;
  margin-bottom: 8.5px;
  color: black;
  font-size: 20px;
}

h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
  color: black;
  font-size: 20px;
}

.content {
  margin-left: 20px;
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 1000px;
  /* height: 1000px; */
}

.content .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content .card h3 {
  margin-bottom: 10px;
}

.content .card p {
  margin-bottom: 10px;
}

.content .card img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.read-more {
  text-decoration: none;
  /* color: #337ab7; */
  transition: color 0.2s ease;
  /* float: right; */
  margin-right: 10px;
}

.read-more:hover {
  color: #e13a3a;
}

#search {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search:focus {
  border-color: #337ab7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#search::placeholder {
  color: #999;
}

#search-results {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#search-results li:last-child {
  border-bottom: none;
}

#search-results a {
  text-decoration: none;
  color: #337ab7;
}

#search-results a:hover {
  color: #23527c;
}